.about-us
	h2.about-us__header OUR DREAMTEAM
	.about-us__members
		.team-member
			img(src=require('../../images/avatars/barulev.jpg')).team-member__img
			.team-member__description
				.team-member__description__name Sasha Barulev
				.team-member__description__work BACKEND Developer
				a(href='https://t.me/BarulevAlex',target='_blank').contakt-link
					img(src=require('../../images/tg.svg')).contact-link__icon
				a(href='https://github.com/HustonMmmavr',target='_blank').contakt-link
					img(src=require('../../images/git.svg')).contact-link__icon
		.team-member
			img(src=require('../../images/avatars/zaytsev.jpg')).team-member__img
			.team-member__description
				.team-member__description__name Dima Zaytsev
				.team-member__description__work DESIGN / FRONTEND Developer
				a(href='https://t.me/haseprogram',target='_blank').contakt-link
					img(src=require('../../images/tg.svg')).contact-link__icon
				a(href='https://github.com/HaseProgram',target='_blank').contakt-link
					img(src=require('../../images/git.svg')).contact-link__icon
		.team-member
			img(src=require('../../images/avatars/borodin.jpg')).team-member__img
			.team-member__description
				.team-member__description__name Dima Borodin
				.team-member__description__work FULLSTACK Developer
				a(href='https://t.me/DmitriyBorodin1995',target='_blank').contakt-link
					img(src=require('../../images/tg.svg')).contact-link__icon
				a(href='https://github.com/BorodinDmitriy',target='_blank').contakt-link
					img(src=require('../../images/git.svg')).contact-link__icon
	a(href='/').btn.about__link.about__link_btn Close