a(href='/').return-link.return-link-scores ← Back to menu
h2.scores__header Leaderboard
table.scores__table
	if data.userViewList
		th.scores__table__th Nickname
		th.scores__table__th Email
		th.scores__table__th Games
		th.scores__table__th Wins
		th.scores__table__th Rating
		each user in data.userViewList
			tr.scores__table__tr
				td.scores__table__td #{user.nickname}
				td.scores__table__td #{user.email}
				td.scores__table__td #{user.countGames}
				td.scores__table__td #{user.countWins}
				td.scores__table__td
					if user.rating > 0
						span.rating.rating_positive #{user.rating}
					else
						span.rating.rating_negative #{user.rating}
.pagination
	button.table__btn.table__btn_submit.prev ← Previous
	button.table__btn.table__btn_submit.next Next →