h2.scores__header LEADERBOARD
table.scores__table
	if data.userViewList
		th.scores__table__th.scores__table_small #
		th.scores__table__th.scores__table_big.scores__table_nickname Nickname
		th.scores__table__th.scores__table_big.scores__table_email Email
		th.scores__table__th.scores__table_small.scores__table_games Games
		th.scores__table__th.scores__table_small Wins
		th.scores__table__th.scores__table_small Rating
		if data.userViewList.length > 0
			each user in data.userViewList
				tr.scores__table__tr
					td.scores__table__td.scores__table_small 
						if user.place == 1
							img(src=require('../../images/gold.svg')).scores__medal
						else if user.place == 2
							img(src=require('../../images/silver.svg')).scores__medal
						else if user.place == 3
							img(src=require('../../images/bronze.svg')).scores__medal
						else
							| #{user.place}
					td.scores__table__td.scores__table_big.scores__table_nickname #{user.nickname}
					td.scores__table__td.scores__table_big.scores__table_email #{user.email}
					td.scores__table__td.scores__table_small.scores__table_games #{user.countGames}
					td.scores__table__td.scores__table_small #{user.countWins}
					td.scores__table__td.scores__table_small
						if user.rating > 0
							span.rating.rating_positive &nbsp;#{user.rating}&nbsp;
						else
							span.rating.rating_negative &nbsp;#{user.rating}&nbsp;
		else
			tr.scores__table__tr
				td(colspan="6").scores__table__td.scores__table_nodata No users found :(