doctype html
html(lang="en")
    head
        title COLOR IT!
        meta(charset="utf-8")
        meta(content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no" name="viewport")
        meta(http-equiv="x-dns-prefetch-control" content="on")
        link(rel='dns-prefetch' href=`${htmlWebpackPlugin.options.serverUrl}`)
        link(rel="apple-touch-icon" sizes="180x180" href=require('./images/favs/apple-touch-icon.png'))
        link(rel="icon" type="image/png" sizes="32x32" href=require('./images/favs/favicon-32x32.png'))
        link(rel="icon" type="image/png" sizes="16x16" href=require('./images/favs/favicon-16x16.png'))
    body
        noscript Enable JavaScript to get some fun :)
        main