include ./member.pug
.room__name #{lobbyname}
.room__wrapper
    .room__members
        b PLAYERS
        if owner
            .member
                +mmbr(owner, isOwner)
        if players
            each player in players
                .member
                    +mmbr(player, false)
    .room__settings 
        b GAME SETTINGS
        .settings__time.settings__item Time: #{time} seconds
        .settings__field.settings__item Field size: #{field}x#{field} cells
        .settings__mode.settings__item Current mode: #{mode}

button.btn.btn_common.start-btn START