.room__name #{lobbyname}
.room__wrapper
    .room__members
        b PLAYERS
        .member
            .member__avatar.member__property
                img(src=owner.avatar, alt="")
            .member__nickname.member__property #{owner.name}
            if isOwner
                .member__remove.member__property &#10006;
    .room__settings 
        b GAME SETTINGS
        .settings__time.settings__item Time: #{time} seconds
        .settings__field.settings__item Field size: #{field}x#{field} cells
        .settings__mode.settings__item Current mode: #{mode}

button.btn.btn_common.start-btn START